# All files
*

# Except dotfiles
!.*
!.*/**

# macOS
.CFUserTextEncoding
.DS_Store
.Trash
.Xauthority

# Secret
.ssh

# No tracking needed
.*_hist
.*_history
.anyconnect
.aws
.babel.json
.bundle
.composer
.config
.cups
.docker
.dropbox
.flotilla
.gem
.local
.netrc
.node-gyp
.npm*
.nvm
.pdepend
.phpls
.pyenv
.rbenv
.tblive*
.v8flags*
.viminfo
.vscode*
.vuerc
.wget-hsts
.zoomus
*.png

# ZSH
.zcompcache
.zcompdump-*
.zsh-custom/secrets.zsh
.zsh-update
