# All files
*

# Except dotfiles
!.*

# macOS
.DS_Store
.CFUserTextEncoding
.Trash
.Xauthority

# No tracking needed
.*_hist
.*_history
.v8flags*
.npmrc
.netrc
.composer
.anyconnect
.viminfo
.babel.json
.zsh-update
.zcompdump-*

# Secrets
.secrets
