# All files
*

# Except dotfiles
!.*
!.*/***

# macOS
.CFUserTextEncoding
.DS_Store
.Trash
.Xauthority

# No tracking needed
.*_hist
.*_history
.anyconnect
.aws
.babel.json
.composer
.config
.cups
.docker
.dropbox
.flotilla
.local
.netrc
.node-gyp
.npm
.npmrc
.nvm
.pdepend
.phpls
.tblive*
.v8flags*
.viminfo
.vscode*

# ZSH
.zcompdump-*
.zsh-custom/secrets.zsh
.zsh-update
